<app-ingredients-search-component
  [registeredIngredients]="registeredIngredientsAsArray()"
  (addedIngredient)="onIngredientAdded($event)"
></app-ingredients-search-component>

<ul>
  <app-ingredient-component
    *ngFor="let ingredient of registeredIngredientsAsArray()"
    [ingredient]="ingredient"
    (amountInMeasure)="onAmountChanged($event, ingredient)"
  ></app-ingredient-component>
</ul>

<div>
  <button
    (click)="onSearchRecipes()"
    *ngIf="registeredIngredientsAsArray().length > 0">
    <span>Suchen</span>
  </button>
</div>
