div.outer {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  z-index: 20;
}

div.inner, span.loading_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.loading_text {
  background-color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  padding: 0.5em;
  color: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  z-index: 80;
}
