<div class="startBorder">
  <div class="startWindow">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-3 welcome">
        <h2>
          Willkommen!
        </h2>
        <hr>
        <i class="fas fa-lemon"></i>
        Zutaten eintragen
        <br>

        <i class="fas fa-search"></i>
        Rezepte suchen
        <br>

        <i class="fas fa-stopwatch"></i>
        Kochen
        <br>

        <i class="fas fa-utensils"></i>
        Guten Appetit!
      </div>
    </div>
  </div>
</div>
