<div class="row">
  <div *ngIf="recipes.length > 0 ; else noRecipes">
  <div class="col-md-6" *ngFor="let recipe of recipes" id="recipes">
    <app-recipe-component [recipe]="recipe" [searchedIngredients]="searchedIngredients"></app-recipe-component>
  </div>
    <button
      *ngIf="recipes.length <= 10"
      type="button"
      class="btn btn-outline-success"
      [disabled]="!restLoaded"
      (click)="loadRestInToRecipes()">Zeig mehr</button>
  </div>

  <ng-template #noRecipes>
    <div>Keine Rezepte wurden gefunden</div>
  </ng-template>
</div>

