.btn-outline-success:disabled{
  color: black;
  border-color: grey;
  background-color: rgba(0,0,0,0.2);
}

agm-map {
  height: 300px;
  width: 300px;
}

div.row {
  height: 100%;
}

app-no-recipe-found {
  width: 100%;
  padding-bottom: 1em;
}
