<div class="row">
  <div *ngIf="recipes.length > 0 ; else noRecipes">
  <div class="col-md-6" *ngFor="let recipe of recipes" id="recipes">
    <app-recipe-component [recipe]="recipe"></app-recipe-component>
  </div>
    <button
      *ngIf="recipes.length <= 10"
      type="button"
      class="btn btn-outline-success"
      [disabled]="!restLoaded"
      (click)="loadRestInToRecipes()">Zeig mehr</button>
  </div>

  <ng-template #noRecipes>
    <div>Keine Rezepte wurden gefunden</div>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">

      <agm-marker [iconUrl]="urlEdekaLogo"
                  [latitude]="lat"
                  [longitude]="lng">
      </agm-marker>


    </agm-map>
  </ng-template>
</div>

