<app-header-component #header></app-header-component>

<div
  [ngStyle]="{'paddingTop': header.getHeight() + 'px'}"
  class="row">

  <app-ingredients-component
    #ingredients
    [ngStyle]="{'position': isResized() ? 'absolute' : 'fixed'}"
    class="col-sm-4 col-md-3 no-float"
    (registeredIngredients)="extractKeyOfSearchedIngredients($event)"
  ></app-ingredients-component>

  <!-- Used for padding, same classes as ingredients-component: -->
  <div
    [ngStyle]="{'height': ingredients.getComponentHeight()}"
    class="col-sm-4 col-md-3 no-float"
  ></div>

  <div class="col-sm-8 col-md-9 border-left">
    <app-welcome-screen
      *ngIf="ingreatService.isNeverBeenSearchedForRecipes"
    ></app-welcome-screen>

    <!--
      Content of this component will not be displayed while ingreatService.isNeverBeenSearchedForRecipes;
      no ngIf...else used since the input-fields would not work anymore.
    -->
    <app-recipes-component
      [searchedIngredients]="searchedIngredientsNames"
      [supermarketGeoLocations]="supermarketsGEO"
    ></app-recipes-component>
  </div>
</div>
