.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.star.smaller {
  font-size: 1.5rem;
}

.full {
  color: #ffcb00;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #ffcb00;
}
