<li>
  <div class="accordion" (click)="showOrHideMeasure(accordion, panel)" #accordion>
    <button (click)="deleteIngredient()"><i class="far fa-trash-alt"></i></button>
    {{ingredient.name}}
  </div>

  <div class="panel" #panel>
    <div class="input-group">
      <input class="form-control" type="number" (input)="amountOrMeasureChanged(amount, measure)" #amount >
      <select class="form-control" (change)="amountOrMeasureChanged(amount, measure)" #measure>
        <option *ngFor="let measure of measures">
          {{measure}}
        </option>
      </select>
    </div>
  </div>
</li>
