li {
  padding-top: 8px;
}

.accordion {
  background-color: #eee;
  transition: 0.4s;
  padding: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.accordion span {
  float: right;
}

.active {
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  float: right;
}

.panel {
  padding: 0 8px;
  background-color: #ccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

div.input-group {
  padding-bottom: 8px;
}

button {
  border: none;
  background: transparent;
}

div.accordion:hover span button.amount, div.active span button.amount {
  color: var(--main-color);
}

button.delete:hover {
  color: var(--warning-color);
}
