li {
  padding-bottom: 8px
}

.accordion {
  background-color: #eee;
  cursor: pointer;
  transition: 0.4s;
  padding: 8px;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  float: right;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 8px;
  background-color: #ccc;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.warning {
  color: red;
}

div.input-group {
  padding-bottom: 8px;
}
