* {
  margin: 0;
}

div#header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1;
  padding: 0.5em;
}

img {
  cursor: pointer;
  height: 50px;
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
