<div class="card img-fluid shadow p-3 m1 bg-white rounded recipe" (click)="openDialog()">
  <img class="card-img-top" src="{{recipe.pictureUrl}}" alt="{{recipe.title}}">

  <div class="card-img-overlay">
    <div class="recipe_content">
      <h4 class="card-title">{{recipe.title}}</h4>
      <div>
        <ngb-rating [(rate)]="recipe.rate" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
        <ng-template #starTemplate let-fill="fill">
          <span class="star smaller" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
          </span>
        </ng-template>
      </div>
      <div>
        Schwierigkeitsgrad: {{recipe.difficultyLevel}}
      </div>
      <div>
        Dauer: {{recipe.preparationTimeInMin}} Minuten
      </div>
      <div class="ingredientsAvailableInfo" *ngIf="missingIngredients.length == 0; else somethingMissing">
        Sie haben alle Zutaten
      </div>

      <ng-template #somethingMissing>
        <div class="ingredientsAvailableInfo" matTooltip="{{getNamesOf(missingIngredients)}}">
          {{getMissingIngredientsString(missingIngredients.length)}}
        </div>
      </ng-template>
    </div>
  </div>

</div>
