<div *ngFor="let missingIngredient of missingIngredients">
  <div><b>{{missingIngredient.ingredient.name}}</b></div>
  <div *ngIf="isProductExistsInSupermarket(missingIngredient.ingredient, superkarket); else noProductsFound">
  <div *ngFor="let product of missingIngredient.ingredient.products">
    <span *ngIf="product.supermarket == getSupermarketValue(superkarket)">
    <img *ngIf="product.supermarket == 'EDEKA'" src="..\..\..\assets\edeka-logo.png" width="25" height="25">
    <img *ngIf="product.supermarket == 'REWE'" src="..\..\..\assets\rewe-logo.png" width="30" height="25">
    {{product.name}}
    {{product.price}}€
      </span>
  </div>
  </div>
  <ng-template #noProductsFound>
    Es wurden keine Produkte gefunden
  </ng-template>
  <br *ngIf="missingIngredient !== missingIngredients[missingIngredients.length - 1]">
</div>
