<div class="row">
  <div class="col-md-6">
    <h2>
      {{recipe.title}}
    </h2>
    <hr class="hr-success"/>
    <div class="mb05">
      <ngb-rating [rate]="recipe.rate" [readonly]="true" [max]="5"></ngb-rating>
    </div>
    <div class="mb05">
      <span class="font-weight-bold">Schwierigkeitsgrad:</span> {{recipe.difficultyLevel}}
    </div>
    <div class="mb05">
      <span class="font-weight-bold">Dauer:</span> {{recipe.preparationTimeInMin}} Minuten
    </div>
    <div class="mb05">
      <span class="font-weight-bold">Zutaten:</span>
      <app-ingredients-in-recipe-component [recipe]="recipe"></app-ingredients-in-recipe-component>
    </div>
    <div class="mb05">
      <span class="font-weight-bold">Zubereitungseinleitungen:</span>
      <br>{{recipe.preparation}}
    </div>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false">

      <agm-marker *ngFor="let supermarketGeo of supermarketGeoLocations"
                  [iconUrl]="getPictureURL(supermarketGeo.supermarkt)"
                  [latitude]="supermarketGeo.lat"
                  [longitude]="supermarketGeo.lng"
      (mouseOver)="showLackIngredients = true; supermarket = supermarketGeo.supermarkt"
      (mouseOut)="showLackIngredients = false">

        <agm-info-window>
          <strong>{{supermarketGeo.supermarktName}}</strong><br>
          {{supermarketGeo.street + ' '}}
          {{supermarketGeo.housenumber}}<br>
          {{supermarketGeo.city  + ' '}}
          {{supermarketGeo.zip}}
        </agm-info-window>
      </agm-marker>


    </agm-map>

  </div>
  <div class="col-md-6 text-right">
    <img src="{{recipe.pictureUrl}}" width="300" height="300" class="img-thumbnail no-max-width">
    <div *ngIf="(fehlendeZustaten.length > 0) && showLackIngredients" class="mb05">
      <span class="font-weight-bold">Fehlende Produkte:</span>
      <app-lack-ingredients [fehlendeZustaten]="fehlendeZustaten" [superkarket]="supermarket"></app-lack-ingredients>
    </div>
  </div>
</div>



