<!-- TODO: fixed items should remain on opening! -->

<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 text-center">
      <h2>
        {{recipe.title}}
      </h2>
      <hr class="hr-success"/>
      <div class="mb05">
        <ngb-rating [(rate)]="recipe.rate" [starTemplate]="starTemplate" [readonly]="true" [max]="5"></ngb-rating>
        <ng-template #starTemplate let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&#x2605;</span>&#x2605;
          </span>
        </ng-template>
      </div>
      <div class="mb05">
        <!-- TODO: Why is difficulty level not as string? -->
        <span class="font-weight-bold">Schwierigkeitsgrad:</span> {{recipe.difficultyLevel}}
      </div>
      <div class="mb05">
        <span class="font-weight-bold">Dauer:</span> {{recipe.preparationTimeInMin}} Minuten
      </div>
    </div>
    <div class="col-md-6 text-right">
      <img src="{{recipe.pictureUrl}}"
           class="img-thumbnail img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-ingredients-in-recipe-component [recipe]="recipe" [searchedIngredients]="searchedIngredients"></app-ingredients-in-recipe-component>
    </div>
    <div class="col-md-12 text-center">
      <h3>
        Zubereitung
      </h3>
      <hr class="hr-success"/>
    </div>
    <div class="col-md-12 text-justify">
      {{recipe.preparation}}
    </div>
    <div class="col-md-12">
      <br>
      <hr class="hr-success"/>
      <br>
    </div>
  </div>

  <div class="row" *ngIf="missingIngredients.length > 0; else letsGo">

    <div class="col-md-12 text-center">
      <h3>
        Finden Sie fehlende Zutaten hier:
      </h3>
    </div>

    <div class="col-md-12 map">
      <!--googleMap-->

      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="close_window($event)"
        #map>

        <agm-marker *ngFor="let supermarketGeo of supermarketGeoLocations"
                    [iconUrl]="getPictureURL(supermarketGeo.supermarket)"
                    [latitude]="supermarketGeo.lat"
                    [longitude]="supermarketGeo.lng"
                    (mouseOver)="showLackIngredients = true; supermarket = supermarketGeo.supermarket"
                    (markerClick)=select_marker($event)>

          <agm-info-window [disableAutoPan]="true">
            <strong>{{supermarketGeo.supermarketName}}</strong><br>
            {{supermarketGeo.street + ' '}}
            {{supermarketGeo.housenumber}}<br>
            {{supermarketGeo.city  + ' '}}
            {{supermarketGeo.zip}}
          </agm-info-window>
        </agm-marker>
      </agm-map>

      <div class="text-center map_loading" *ngIf="!map || !supermarketGeoLocations">
        <span>
          <app-loading [size]="50"></app-loading>
        </span>
        Karte wird geladen...
      </div>

    </div>
    <div class="col-md-12">

      <div *ngIf="showLackIngredients; else noHoverYet" class="mb05">
        <app-lack-ingredients [missingIngredients]="missingIngredients" [superkarket]="supermarket"></app-lack-ingredients>
      </div>

      <!-- TODO: Loading component if no marks yet? -->
      <ng-template #noHoverYet>
        <div class="noHoverYet text-justify">
          Bitte wählen Sie die Icons auf der Karte, um sich anzeigen zu lassen, welche fehlenden Zutaten Sie dort kaufen können.
          <br>
          <br>
          <div class="information font-italic">
            <i class="fas fa-info-circle"></i>
            <strong>
              Es werden (noch) keine Icons angezeigt?
            </strong>
            <br>
            Da wir Ihnen die Standorte von EDEKA und REWE in ganz Berlin zeigen, kann es abhängig
            von Ihrer Internetverbindung eine Weile dauern, bis die Supermärkte auf der Karte angezeigt werden. Bitte haben Sie einen Moment
            Geduld. Beachten Sie auch, dass es ggf. keinen Supermarkt im aktuellen Kartenabschnitt gibt.
          </div>
        </div>
      </ng-template>

    </div>
  </div>

  <ng-template #letsGo>
    <div class="row letsgo">
      <div class="col-md-12 text-center">
        <h3>
          Sie haben alle Zutaten. Es kann losgehen!
          <i class="fas fa-utensils"></i>
        </h3>
      </div>
    </div>
  </ng-template>

</div>
