.container-fluid {
  margin-bottom: 1.5em;
}

agm-map {
  height: 20em;
}

app-ingredients-in-recipe-component {
  margin: 1em;
}

img {
  width: 100%;
  object-fit: cover;
}

div.map_loading {
  position: absolute;
  padding-bottom: 1em;
  text-align: center;
  color: var(--main-color);
  width: 100%;
  padding-right: 2em;
}

div.map+div.col-md-12 {
  padding-top: 1em;
}

div.letsgo {
  color: var(--main-color);
}

div.information {
  padding: 1em;
  background: var(--main-color-light-90);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
