<ul *ngFor="let fehlendeZutat of fehlendeZustaten">
  <li>{{fehlendeZutat.ingredient.name}}</li>
  <ul *ngIf="fehlendeZutat.ingredient.products && fehlendeZutat.ingredient.products.length>0; else noProductsFound">
  <li *ngFor="let product of fehlendeZutat.ingredient.products">
    <img *ngIf="product.supermarket == 'EDEKA'" src="..\..\..\assets\edeka-logo.png" width="25" height="25">
    <img *ngIf="product.supermarket == 'REWE'" src="..\..\..\assets\rewe-logo.png" width="30" height="25">
    {{product.name}}
    {{product.price}}€
  </li>
  </ul>
  <ng-template #noProductsFound>
    <ul><li>Keine Produkte wurden gefunden</li></ul>
  </ng-template>
</ul>
